* 
 {box-sizing: border-box;
    margin:0;
    padding: 0;

}

.container {max-width: 1100px;
margin: 0 auto;
padding: 0 30px;
}
ul {list-style-type: none;}

.navbar {background-color:blue;
color: white;
height: 60px;}
.navbar a {
    color: white;
}
 
.navbar .container {
    display:flex;
    justify-content: space-between;
    align-items: center;
    height:100% ;
 }
 .navbar ul {
     display:flex;
     ;
 }
 .navbar ul li {
     margin-left: 20px;

 }
 header {background-color: aqua;
    min-height: 400px;

 }
 .header p { padding-top: 150px;
     font-size:20px; 
    text-align: center;}
    .card {
        width:  30%;
    border: 1px solid black;
    }
    
.cards .container {
    display:flex;
     justify-content: space-between;
     padding: 20px;
}
.card .cardphoto {
    background-color: green;
    height: 180px;
}
 
.main {background-color: yellow;
height:180px;
display:flex;
padding-top: 60px;}
.footer { background-color: red;
    min-height:100px ;
display: flex;

}
.column { 
    columns:4 ;
   padding-top: 20px;
}
